{% extends 'base-template.html' %}
{% block content %}
    <div class="container">
        <form action = "/upload" method = "POST" enctype="multipart/form-data">
            <div class="custom-file mb-3">
              <input type="file" class="custom-file-input" id="filename" name="filename">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
    </div>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <div class="container">
        {% if products == None or products|length == 0 %}
            <div>
                <h3 align="center" class="font-weight-light">No Search Results found yet!</h3>
            </div>
        {% else %}
            <div class="container">
              <h2>Inventory summary</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Material Id</th>
                            <th scope="col">Material_Description</th>
                            <th scope="col">MTyp</th>
                            <th scope="col">Typ</th>
                            <th scope="col">Division</th>
                            <th scope="col">ABC</th>
                            <th scope="col">Reorder_Pt</th>
                            <th scope="col">Max_Level</th>
                            <th scope="col">Total_Stock</th>
                            <th scope="col">loc_name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product[0] }}</td>
                                <td>{{ product[1] }}</td>
                                <td>{{ product[2] }}</td>
                                <td>{{ product[3] }}</td>
                                <td>{{ product[4] }}</td>
                                <td>{{ product[5] }}</td>
                                <td>{{ product[6] }}</td>
                                <td>{{ product[7] }}</td>
                                <td>{{ product[8] }}</td>
                                <td>{{ product[9] }}</td>
                                <td>{{ product[10] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}